@model E_biblioteka.Models.Book
@{
    ViewBag.Title = "Delete";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .checked {
        color: orange;
    }
</style>
<div class="container-fluid" style="margin-top: 20px;">
    <h3 style="margin-left: 30px;">Are you sure you want to delete this book?</h3>
    <div class="row" style="margin-top: 30px;">
        <div class="col-lg-3 text-center">
            <img src="@Model.ImageUrl" style="width: 200px; height: 280px;" />
            @using (Html.BeginForm(new { page = ViewBag.Page, orderBy = ViewBag.OrderBy, search = ViewBag.Search, bookGenre = ViewBag.BookGenre }))
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color text-center" style="margin-top: 20px;">
                    <input type="submit" value="Delete" class="btn btn-danger" style="margin-right: 5px" />
                    <a href="@Url.Action("Index", "Books", new { page = ViewBag.Page, orderBy = ViewBag.OrderBy, search = ViewBag.Search, bookGenre = ViewBag.BookGenre } )" class="btn btn-default"> Back to list </a>
                </div>
            }
        </div>
        <div class="col-lg-9" style="margin-left: 50px; margin-top: -20px; margin-left: -20px;">
            <h1>@Model.Name (@Model.Year)</h1>
            <h4>by @Model.Author.Name</h4>
            <p>
                Rating:
                @for (var i = 1; i <= Math.Floor(Model.Rating); i++)
                {
                    <span class="fa fa-star checked"></span>
                }

                @for (var i = 1; i <= 5 - Math.Floor(Model.Rating); i++)
                {
                    <span class="fa fa-star"></span>
                }
            </p>
            <br />
            <p>@Model.Description</p>
        </div>
    </div>
</div>
