@model E_biblioteka.Models.Book

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div id="contentHead">
        <h1 style="margin-left: 20px; margin-top: 30px;">@Model.Name</h1>
        <p style="margin:20px; margin-left: 30px;">By @Html.ActionLink(Model.Author.Name, "Details", "Authors", new { id = Model.Author.AuthorId, page = 1 }, new { })</p>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-lg-3">
                <img id="modalImage" style="width: 200px; height: 280px; margin-left: 30px;" src="@Model.ImageUrl" alt="@Model.Name" />
                <p style="margin-top:10px; margin-left:30px;" class="text-center">
                    @if (User.IsInRole("Member") || User.IsInRole("Moderator"))
                    {
                        <span>Rate:</span>
                        <a href="@Url.Action("UpVote", "Books", new { id = Model.BookId })" style="margin-right:10px; margin-left:5px;"><i class="fa fa-thumbs-up fa-2x" aria-hidden="true" style="color:forestgreen"></i></a>
                        <a href="@Url.Action("DownVote", "Books", new { id = Model.BookId })"><i class="fa fa-thumbs-down fa-2x" aria-hidden="true" style="color:red"></i></a>
                    }

                </p>
                <div class="text-center" style="margin-top: 20px; margin-left: 30px;">

                    @if (User.IsInRole("Member") || User.IsInRole("Moderator"))
                    {
                        if (Model.InStock > 0)
                        {
                            <a href="@Url.Action("Order", "Books", new { id = Model.BookId })" class="btn btn-warning" style="margin-right: 5px;">
                                <span><i class="fa fa-shopping-cart"></i> Order</span>
                            </a>
                        }
                        else
                        {
                            <button type="button" class="btn btn-warning disabled">
                                <span><i class="fa fa-shopping-cart"></i> Order</span>
                            </button>
                        }
                    }
                    @if (User.IsInRole("Administrator") || User.IsInRole("Employee"))
                    {
                        <a href="@Url.Action("Edit", "Books", new { id = Model.BookId, page = ViewBag.Page, orderBy = ViewBag.OrderBy, search = ViewBag.Search, bookGenre = ViewBag.BookGenre })" class="btn btn-primary" style="margin-right: 5px;">Edit</a>
                    }
                    <a href="@Url.Action("Index", "Books", new { page = ViewBag.Page, orderBy = ViewBag.OrderBy, search = ViewBag.Search, bookGenre = ViewBag.BookGenre })" class="btn btn-default">Back to list</a>
                    <a href="@Url.Action("AddPostToBook", "Books", new { id = Model.BookId })" class="btn btn-default" style="width: 92%; margin-top: 5px">
                        Leave a review &nbsp;&nbsp;&nbsp;
                        <i class="fa fa-plus" aria-hidden="true" style="color:deepskyblue; margin-top: 2px"></i>
                    </a>

                </div>
            </div>
            <div class="col-lg-8">
                <p class="text-left">Genre: @Model.Genre</p>
                <p class="text-left">Year: @Model.Year</p>
                <p>
                    Rating:
                    @for (var i = 1; i <= Math.Floor(Model.Rating); i++)
                    {
                        <span class="fa fa-star checked"></span>
                    }

                    @for (var i = 1; i <= 5 - Math.Floor(Model.Rating); i++)
                    {
                        <span class="fa fa-star"></span>
                    }
                </p>


                <p class="text-left">@Model.Description</p>
            </div>
        </div>
    </div>
</div>
<div class="container" style="background-color: white; width: 87.7%; margin-left: 85px; margin-top: 20px; border: solid 1px">
    <h2>Book Reviews</h2>
 
    <table class="table">
        <tr>
            <th>
                Title
            </th>
            
            <th>
                Content
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Posts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
              
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    <a href="@Url.Action("Details", "Posts", new { id = item.Id })">Details</a>

                    @if (User.IsInRole("Administrator") || User.IsInRole("Moderator") || ViewBag.UserId == item.UserId)
                    {
                        <span> | </span>
                        <a href="@Url.Action("Edit", "Posts", new { id = item.Id })">Edit</a>
                        <span> | </span>
                        <a href="@Url.Action("Delete", "Posts", new { id = item.Id })">Delete</a>
                    }
                </td>
            </tr>
        }

    </table>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- The Close Button -->
    <span class="close">&times;</span>

    <!-- Modal Content (The Image) -->
    <img class="modal-content" id="img01">

    <!-- Modal Caption (Image Text) -->
    <div id="caption"></div>
</div>

@section styles {
    <link rel="stylesheet" type="text/css" href="@Href("~/Content/ModalImage.css")" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        body {
            background-color: lightgray;
        }

        #contentHead {
            background-color: white;
            border: 1px solid black;
            margin-top: 20px;
            width: 1000px;
            height: 100%;
            margin-left: auto;
            margin-right: auto;
        }

        .checked {
            color: orange;
        }
    </style>
}

@section scripts {
    <script type="text/javascript" src="@Href("~/Scripts/ModalImage.js")"></script>
}

