@using PagedList;
@using PagedList.Mvc;
@model IPagedList<E_biblioteka.Models.Book>

@{
    ViewBag.Title = "Index";

}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .checked {
        color: orange;
    }

    .card {
        margin-bottom: 25px;
    }
</style>

<div class="container-fluid">
    <div class="row text-center">
        <h2>Books</h2>
    </div>
    <div class="row" style="margin-bottom: 50px;">
        <span style="margin-left: 100px;">
            @if (User.IsInRole("Administrator"))
            {
                @Html.ActionLink("Create New", "Create")
            }
        </span>
        <div class="col-xs-12 col-sm-4 col-lg-6 pull-right">
            <div class="form-inline" style="margin-left: 80px;">
                <div class="form-group">
                    <label for="search"><i class="fa fa-search"></i></label>
                    <input class="form-control" style="width: 40%; margin-right: 30px;" id="search" type="search" placeholder="Enter the book title" name="query" />
                    <label class="" for="order-list"><i class="fa fa-sort"></i></label>
                    <select id="order-list" class="form-control" style="width: 42%;">
                        <option>--Select an option--</option>
                        <option value="title-ascending">Title (A-Z)</option>
                        <option value="title-descending">Title (Z-A)</option>
                        <option value="rating-descending">Top Rated</option>
                        <option value="year-descending">Publish Date (newest)</option>
                        <option value="year-ascending">Publish Date (oldest)</option>
                    </select>
                </div>

            </div>
        </div>
    </div>
    <div class="container-fluid text-center">
        @foreach (var item in Model)
        {
            <div class="card bg-light col-lg-4 mb-2">
                <img class="card-img-top" src="@item.ImageUrl" style="width: 150px; height: 200px;" />
                <div class="card-body">
                    <h5 class="card-title">@Html.ActionLink(item.Name, "Details", "Books", new { id = item.BookId }, new { })</h5>
                    <p>
                        @Html.ActionLink(item.Author.Name, "Details", "Authors", new { id = item.Author.AuthorId }, new { })
                    </p>
                    <p>
                        @if (User.IsInRole("Administrator") || User.IsInRole("Employee"))
                        {
                            <button class="btn-default">@Html.ActionLink("Edit", "Edit", new { id = item.BookId }) </button>
                        }
                        @if (User.IsInRole("Administrator"))
                        {
                            <button class="btn-default"> @Html.ActionLink("Delete", "Delete", new { id = item.BookId })</button>
                        }
                    </p>

                    @for (var i = 1; i <= Math.Floor(item.Rating); i++)
                    {
                        <span class="fa fa-star checked"></span>
                    }

                    @for (var i = 1; i <= 5 - Math.Floor(item.Rating); i++)
                    {
                        <span class="fa fa-star"></span>
                    }
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="pagination text-center col-sm-12 col-xs-12 col-md-12 col-lg-12">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, orderBy = ViewBag.OrderBy }))
        </div>
    </div>
</div>
<div>
    @if (User.IsInRole("Member") || User.IsInRole("Moderator") || User.IsInRole("Employee"))
    {
        <p>Send us a request for a book that you like which is not on our list and we'll try to make it available for you</p>
        @Html.ActionLink("Send Request", "Create", "Requests")
    }
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $("select option").each(function () {
                var value = $(this).attr("value");
                if (document.location.search.includes(value)) {
                    $(this).attr("selected", true);
                    return;
                }
            });

            $("select").on("change",
                function () {
                    document.location = "?orderBy=" + this.value;
                });
        });
    </script>
}
