@model IEnumerable<E_biblioteka.Models.Book>

@{
    ViewBag.Title = "Index";
   
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h2>Index</h2>
<style>
    .checked{
        color: orange;
    }
</style>
 
<p>
    @if (User.IsInRole("Administrator"))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>

        <div class="container">

    @foreach (var item in Model)
    {

                <div class="card bg-light col-lg-4 mb-2">
                    <img class="card-img-top" src="@item.ImageUrl" style="max-width: 200px; max-height: 200px;" />
                    <div class="card-body">

                        <h5 class="card-title">@Html.ActionLink(item.Name, "Details", "Books", new { id = item.BookId }, new { })</h5>
                         
                        <p>
                         @Html.ActionLink(item.Author.Name, "Details", "Authors", new { id = item.Author.AuthorId }, new { })
                            <button class="btn-default">@Html.ActionLink("Edit", "Edit", new { id = item.BookId }) </button>
                            <button class="btn-default"> @Html.ActionLink("Delete", "Delete", new { id = item.BookId })</button>
                        </p>
                        
                        @for (var i=0; i <= item.Rating; i++)
                        {
                         <span class="fa fa-star checked"></span>
                        }
                        @for (var i=(item.Rating+1); i<=5; i++)
                        {
                         <span class="fa fa-star"></span>
                        }






                     </div>
                </div>
        
    
     }
            </div>

<div>
    @if (User.IsInRole("Member") || User.IsInRole("Moderator") || User.IsInRole("Employee"))
    {
        <p>Send us a request for a book that you like which is not on our list and we'll try to make it available for you</p>
        @Html.ActionLink("Send Request", "Create", "Requests")
    }
</div>
