@model E_biblioteka.Models.Author

@{
    ViewBag.Title = "Delete";
}


<div class="container-fluid" style="margin-top: 20px;">
    <h3 style="margin-left: 30px;">Are you sure you want to delete this author?</h3>
    <div class="row" style="margin-top: 30px;">
        <div class="col-lg-3 text-center">
            <img src="@Model.ImageUrl" style="width: 200px; height: 280px;" />
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color text-center" style="margin-top: 20px;">
                    <input type="submit" value="Delete" class="btn btn-danger" style="margin-right: 5px" /> |
                    <a href="@Url.Action("Index", "Authors")" class="btn btn-default"> Back to list </a>
                </div>
            }
        </div>
        <div class="col-lg-9" style="margin-left: 50px; margin-top: -20px; margin-left: -20px;">
            <h1>@Model.Name</h1>
            <p>@Model.Description</p>
            <h3>Books:</h3>
            <ul>
                @foreach (var item in Model.Books)
                {
                    <li>@item.Name</li>
                }
            </ul>
        </div>
    </div>
</div>
