@model E_biblioteka.Models.Author

@{
    ViewBag.Title = "Details";
}
<style>
    #floated{
        float: left;
    }
    #non{
        float:none;
        text-align:center;
    }
</style>
    <header id="header" class="clear" style="margin-bottom:30px;">



        <div id="upper-logo">
            <h1 class="logo" data-content-field="site-title">
                @Html.DisplayFor(model => model.Name)
            </h1>
        </div>
     </header>
      <div id="container" style="margin-bottom:20px;">
          <div id="floated" class="float float-left" style="margin-right:20px; padding-right:20px;">
              <img src="@Model.ImageUrl" />

          </div>
          <div id="non" style="margin-left:20px; padding-left:20px; padding-top:20px; margin-bottom:40px; text-align:left" class="text-right">
              @Model.Description
          </div>
      </div>

   
<div style="margin-top:80px;">


                @if (Model.Books.Count != 0)
                {
                    
                        <h3>
                            @Html.DisplayNameFor(model => model.Books)
                        </h3>
                        
                    
                  
                        for (int i = 0; i < Model.Books.Count; i++)
                        {
                          
                           @Html.ActionLink(Model.Books[i].Name, "Details", "Books", new { id = Model.Books[i].BookId }, new { }) 
                       
                        }
                    
                    
                }

        <p>
            @if (User.IsInRole("Administrator") || User.IsInRole("Employee"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = Model.AuthorId })
            }
            &nbsp;
            @Html.ActionLink("Back to List", "Index")
        </p>

        <!-- The Modal -->
        <div id="myModal" class="modal">

            <!-- The Close Button -->
            <span class="close">&times;</span>

            <!-- Modal Content (The Image) -->
            <img class="modal-content" id="img01">

            <!-- Modal Caption (Image Text) -->
            <div id="caption"></div>
        </div>
    </div>

        @section styles {
            <link rel="stylesheet" type="text/css" href="@Href("~/Content/ModalImage.css")" />
        }

        @section scripts {
            <script type="text/javascript" src="@Href("~/Scripts/ModalImage.js")"></script>
        }
