@using PagedList;
@using PagedList.Mvc;
@model IPagedList<E_biblioteka.Models.Author>

@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .card {
        margin-bottom: 25px;
    }
</style>

<div class="container-fluid">
    <div class="row text-center">
        <h2>Authors</h2>
    </div>
    <div class="row" style="margin-bottom: 50px;">
        <span style="margin-left: 100px;">
            @if (User.IsInRole("Administrator"))
            {
                <a href="@Url.Action("Create", "Authors")" class="btn btn-primary">+ Add an author</a>
            }
        </span>
        <div class="col-xs-12 col-sm-4 col-lg-6 pull-right">
            <div class="form-inline" style="margin-left: 80px;">
                @using (Html.BeginForm("Index", "Authors", FormMethod.Get))
                {
                    <div class="form-group">
                        <label for="search"><i class="fa fa-search"></i></label>
                        @Html.TextBox("search", "", new { @class = "form-control", @style = "width: 200px; margin-right: 15px", @placeholder = "Enter author name" })
                        <label for="order-list"><i class="fa fa-sort"></i></label>
                        <select id="order-list" class="form-control" style="width: 200px;">
                            <option value="">--Order By--</option>
                            <option value="name-ascending">Name (A-Z)</option>
                            <option value="name-descending">Name (Z-A)</option>
                        </select>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="container-fluid text-center">
        @foreach (var item in Model)
        {
            <div class="card bg-light col-lg-4 mb-2">
                <img class="card-img-top" src="@item.ImageUrl" style="width: 200px; height: 280px; cursor: pointer;" onclick="window.location='Authors/Details/@item.AuthorId'" />
                <div class="card-body">
                    <h5 class="card-title">@Html.ActionLink(item.Name, "Details", "Authors", new { id = item.AuthorId }, new { })</h5>
                    <p>
                        @if (User.IsInRole("Administrator") || User.IsInRole("Employee"))
                        {
                            <a href="@Url.Action("Edit", "Authors", new { id = item.AuthorId })" class="btn btn-info">Edit</a>
                        }
                        @if (User.IsInRole("Administrator"))
                        {
                            <a href="@Url.Action("Delete", "Authors", new { id = item.AuthorId })" class="btn btn-danger">Delete</a>
                        }
                    </p>
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="pagination text-center col-sm-12 col-xs-12 col-md-12 col-lg-12">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, orderBy = ViewBag.OrderBy }))
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $("select option").each(function () {
                var value = $(this).attr("value");
                if (document.location.search.includes(value)) {
                    $(this).attr("selected", true);
                    return;
                }
            });

            $("select").on("change",
                function () {
                    document.location = "?orderBy=" + this.value + "&search=" + $("#search").attr("value");
                });
        });
    </script>
}


