@model IEnumerable<E_biblioteka.Models.Request>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table id="requestsTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorsName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorsName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    @if (User.IsInRole("Administrator") || User.IsInRole("Employee"))
                    {
                        <a href="@Url.Action("CreateFromRequest", "Books", new { Title = item.Title, AuthorsName = item.AuthorsName, RequestId = item.RequestId }, null)" class="btn btn-success">Accept</a>
                        @:&nbsp;
                        <a href="@Url.Action("Delete", "Requests", new { id = item.RequestId })" class="btn btn-danger">Decline</a>
                        @:&nbsp;
                    }
                    <a href="@Url.Action("Details", "Requests", new { id = item.RequestId })" class="btn btn-default">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
        $("#requestsTable").DataTable();
    </script>
}
