@model IEnumerable<E_biblioteka.Models.Request>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table id="requestsTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorsName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorsName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    @if (User.IsInRole("Administrator"))
                    {
                        @Html.ActionLink("Accept", "CreateFromRequest", "Books", new { Title = item.Title, AuthorsName = item.AuthorsName, RequestId = item.RequestId }, null)
                        @:&nbsp;
                        @Html.ActionLink("Decline", "Delete", new { id = item.RequestId })
                        @:&nbsp;
                    }
                    @Html.ActionLink("Edit", "Edit", new { id = item.RequestId })
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
        $("#requestsTable").DataTable();
    </script>
    }
