<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("E-library", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="margin-left: 15px;">
                    <li style="margin-top: 7px;"><i class="fa fa-book fa-2x" style="color: red; opacity: 0.5;"></i>@Html.ActionLink("Books", "Index", "Books", null, new { @style = "display: inline;" })</li>
                    <li style="margin-top: 7px;"><i class="fa fa-user fa-2x" style="color: white; opacity: 0.5;"></i>@Html.ActionLink("Authors", "Index", "Authors", null, new { @style = "display: inline;" })</li>
                    <li style="margin-top: 2px;">@Html.ActionLink("About", "About", "Home")</li>
                    <li style="margin-top: 2px;">@Html.ActionLink("Contact us", "Contact", "Home")</li>
                    @if (User.IsInRole("Administrator") || User.IsInRole("Employee"))
                    {
                        <li style="margin-top: 2px;">@Html.ActionLink("Requests", "Index", "Requests")</li>
                    }
                    @if (User.IsInRole("Administrator"))
                    {
                        <li style="margin-top: 2px;">@Html.ActionLink("Manage Users", "AddUserToRole", "Account")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
